{% extends "layout.html" %}
{% load custom_filters %}
{% block content %}
<h1>{{title}}</h1>
<a href="{% url new_view %}" class="btn btn-primary">New</a>
<table class="table table-hover orderByDateTable">
    <thead order_col_no="0">
    {% for col in columns %}
    <th scope="col">{{col}}</th>
    {% endfor %}
    <th scope="col"></th>
    </thead>
    <tbody>
    {% for record in data %}
    <tr>
        <td>{{ record.id }}</td>
        <td>{{ record.responder }}</td>
        <td>
            {% for difficulty in record.difficulties_in_japan.all %}
            {{ difficulty.description }}{% if not forloop.last %}, {% endif %}
            {% endfor %}

        </td>
        <td>{{ record.difficulties_in_japan_other }}</td>
        <td>{{ record.your_priority_problem }}</td>
        <td>{{ record.use_uzbek_community_help }}</td>
        <td><a href="{% url edit_view record.id %}" class="btn btn-dark">Edit</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}